html, body{ 
    background: #062329;  
    color: #D1B897;
    scrollbar-color: #8cde94 #062329;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
}

p{
    text-align: start;
    text-justify: none;

    font-size: 24px;
    padding-left: 150px;
    padding-right: 150px;
}

h2, h3, h4, h5{
    color: #e3dcd3;
    font-size: 36px;
    padding-left: 150px;
    padding-right: 150px;
}
h2 {
    .a:hover {
        color: #8CDE94;
        font-size: 36px;
       }
}

h1{
    color: #8CDE94;
    font-size: 68px;
}
ul{
    color: #D1B897;
    font-size: 24px;
    padding-left: 180px;
    padding-right: 150px;
}

a:link{
    color: #00def0;
}

a:hover{
    color: #8CDE94;
}

a:visited{
    color: #C1D1E3;
}

/* code */
code{
    background: #062329;
    font-size: 24px;
}
pre{
    background: #062329;
    /* border: 2px solid #8cde94; */
    scrollbar-color: #8cde94 #062329;
    padding-left: 240px;
    padding-right: 150px;
}
pre code{
    /* background: #062329; */
    scrollbar-color: #8cde94 #062329;
}
/* span{ */
/*     padding-left: 240px; */
/*     padding-right: 150px; */
/* } */

pre span.org-string                      {color:#42A637;}
pre span.org-keyword                     {color:#ffffff;}
pre span.org-variable-name               {color:#C1D1E3;}
pre span.org-function-name               {color:#ffffff;}
pre span.org-type                        {color:#8CDE94;}
pre span.org-preprocessor                {color:#8CDE94;font-weight:bold;}
pre span.org-constant                    {color:#D0372D;}
pre span.org-comment-delimiter           {color:#42A637;}

*::selection{
    background: #0000f0;
    color: #ffffff;
    font-weight: bold;
}
*::-moz-selection{
    background: #0000f0;
    color: #ffffff;
    font-weight: bold;
}
*::-webkit-selection{
    background: #0000f0;
    color: #ffffff;
    font-weight: bold;
}

/*navigation*/

/* .landing_nav{ */
/*     position: fixed; */
/*     top: 0px; */
/*     left: 25px; */
/*     right: 25px; */
/*     background-color: #062329; */
/* } */
/* .landing_nav a{ */
/*     padding-left: 7px; */
/*     padding-right: 7px; */
/*     text-align: center; */
/*     text-decoration: none; */

/*     font-size: xxx-large; */
/*     font-weight: bold; */
/*     color: #8cde94; */
/*     background-color: #062329; */
/* } */

/* .landing_nav ul{ */
/*     list-style-type: none; */
/*     padding: 0px; */
/*     overflow-x: scroll; */
/*     scrollbar-width: none; */
/*     scroll-snap-align: center; */
/*     text-overflow: ellipsis; */

/*     display: flex; */
/*     flex-wrap: nowrap; */
/*     justify-content: space-between; */
/* } */

/* .landing_nav a:hover{ */
/*     text-decoration: underline; */
/*     opacity: 0.5; */
/* } */


.navbar{
    position: sticky;
    top: 0px;
    left: 25px;
    right: 25px;
    background-color: #062329;
    opacity: 1;
    transition: ease-out .1s;
}
/* @keyframes hide-navbar{ */
/*     from{opacity: 1;} */
/*     to{opacity: 0;} */
/* } */

.navbar a{
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    text-decoration: none;

    font-size: xxx-large;
    font-weight: bold;
    color: #8cde94;
    background-color: #062329;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-align: center;
    text-overflow: ellipsis;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navbar a:hover{
    text-decoration: underline;
    opacity: 0.5;
}

hr{
    border-color: #8cde94;
}

.other_stuff{
    color: #D1B897;
    text-align: center;
}

[data-darkreader-scheme="dark"] html, body, a {
    background: #062329;  
    color: #D1B897;
}
