:root{
    color-scheme: light dark;
}
html, body{ 
    background: #032339;
    color: #fdf5e6;
    scrollbar-color: #50c484 #032339;
    font-size: 24px;
    @media (max-width: 850px) {
        font-size: 14px;
    }
    @media(prefers-color-scheme: light){
        background: #569999;
        background-color: #569999;
        scrollbar-color: #fff95f #569999;
        color: #062329;
    }
}

p{
    text-align: start;
    text-justify: none;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 24px;
    background: #032339;
    color: #fdf5e6;
    @media (max-width: 850px) {
        font-size: 14px;
    }
    @media(prefers-color-scheme: light){
        text-align: start;
        text-justify: none;

        background: #569999;
        background-color: #569999;
        color: #062329;
    }
}

h2, h3, h4, h5{
    margin: 10px;
    color: #acdcfc;
    font-size: 36px;
    @media (max-width: 850px) {
        font-size: 18px;
    }
    @media(prefers-color-scheme: light){
        color: #fef0d3;
    }
}
h2{
    .a:hover{
        color: #8CDE94;
        @media(prefers-color-scheme: light){
            color: #fff0a3;
        }
    }
}

h1{
    color: #50c484;
    font-size: 48px;
    @media (max-width: 850px) {
        font-size: 20px;
    }
    @media(prefers-color-scheme: light){
        color: #fff950;
    }
}

ul {
    color: #fdf5e6;
    font-size: 24px;
    margin-right: 15px;
    @media(max-width: 850px){
        font-size: 14px;
    }
    @media(prefers-color-scheme: light){
        color: #032339;
    }
}

a:link{
    color: #00def0;
    @media(prefers-color-scheme: light){
        color: #fff95f;
    }
}

a:hover{
    color: #0CDE94;
    @media(prefers-color-scheme: light){
        color: #0FF906;
    }
}

a:visited{
    color: #0CDE94;
    @media(prefers-color-scheme: light){
        color: #0FF906;
    }
}

code{
    background: #000002;
    font-size: 18px;
    padding: 0px;
    @media(max-width: 850px){
        font-size: 11px;
    }
    @media(prefers-color-scheme: light){
        background: #009f99;
        background-color: #009f99;
    }
}
pre{
    background: #000002;
    border: 1px solid #0cde94;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: -15px;
    /* margin-bottom: -10px; */
    border-radius: 0px;
    scrollbar-color: #0cde94 #032339;
    line-height: 18px;
    @media(max-width: 850px){
        line-height: 12px;
    }
    @media(prefers-color-scheme: light){
        background: #009f99;
        border: 1px solid #fff95f;
        background-color: #009f99;
        scrollbar-color: #fff95f #009f99;
    }
}

pre span.org-string                      {color:#000080;}
pre span.org-keyword                     {color:#fef0d3;}
pre span.org-variable-name               {color:#C1D1E3;}
pre span.org-function-name               {color:#fef0d3;}
pre span.org-type                        {color:#8CDE94;}
pre span.org-preprocessor                {color:#8CDE94;font-weight:bold;}
pre span.org-constant                    {color:#D0372D;}

*::selection{
    background: #0000f0;
    color: #ffffff;
    font-weight: bold;
    @media(prefers-color-scheme: light){
        background: #000080;
        color: #8893ff;
        font-weight: bold;
    }
}
*::-moz-selection{
    background: #0000f0;
    color: #ffffff;
    font-weight: bold;
    @media(prefers-color-scheme: light){
        background: #000080;
        color: #8893ff;
        font-weight: bold;
    }
}
*::-webkit-selection{
    background: #0000f0;
    color: #ffffff;
    font-weight: bold;
    @media(prefers-color-scheme: light){
        background: #000080;
        color: #8893ff;
        font-weight: bold;
    }
}

.navbar{
    position: sticky;
    top: 0px;
    background: #032339;
    @media(prefers-color-scheme: light){
        background: #569999;
    }
    opacity: 1;
    transition: ease-out .1s;
}

.navbar a{
    text-align: center;
    text-decoration: none;
    margin-left: -20px;
    margin-right: 20px;

    font-size: xxx-large;
    font-weight: bold;
    color: #50c484;
    @media (max-width: 850px) {
        font-size: 20px;
    }
    @media(prefers-color-scheme: light){
        color: #fff950;
    }
}

.navbar sep{
    text-align: center;
    text-decoration: none;
    margin-left: -20px;
    margin-right: 20px;

    font-size: xxx-large;
    font-weight: bold;
    color: #50c484;
    @media (max-width: 850px) {
        font-size: 20px;
    }
    @media(prefers-color-scheme: light){
        color: #fff950;
    }
}

.navbar ul{
    list-style-type: none;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-align: center;
    text-overflow: ellipsis;
    margin: -5px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navbar a:hover{
    text-decoration: underline;
    opacity: 0.5;
}

hr{
    border-color: #50c484;
    @media(prefers-color-scheme: light){
        border-color: #fff95f;
    }
}

.mymail{
    font-size: 73px;
    @media(max-width: 850px){
        font-size: 20px;
    }
}

.other_stuff{
    color: #D1B897;
    text-align: center;
}
